/*
Color for light theme :
1. #F9E0D9
2. #E6DBD0
3. #7D6167
4. #754F5B
5. #5D4954
--primCol: #f9004d;
    --secCol : white;
    dark back col : #191919
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'League Spartan', sans-serif;
    
}
:root{
    --primCol: #FFC857;
    --secCol : #323031 ;
    --backCol:  #F4F4F8;
}
.dark-theme{
   
    --secCol:#F4F4F8;
    --backCol:#191919;
}
body{
    display: block;
}
.hero{
    height: 100vh;
    width: 100%;
   /* background-image: url(https://i.ibb.co/hHtDx0Z/light-Back.webp); */
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:45px 8% 0 8% ;
}
.logo{
    color: var(--secCol);
    font-size: 3rem;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: var(--primCol);
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: var(--secCol);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: var(--primCol);
    transition: .5s;
}
.btn{
    background-color: var(--primCol);
    color: var(--secCol);
    text-decoration: none;
    border:2px solid transparent;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .5s;
}
.btn:hover{
    transform: scale(1.3);
    background-color: var(--secCol);
    color: var(--primCol);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: var(--secCol);
    margin: 20px 0px 20px;
    font-size:  3rem;
}

h3{
    color: var(--secCol);
    
    font-size: 1.7rem;
    margin-bottom: 50px;
}
h3 span{
    padding: 5px;
    position: relative;
    color: var(--primCol);
    font-size: 40px;
    border-right: 2px solid var(--primCol);
}


h4{
    color: rgb(18, 77, 18);
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.aboutMe{
    width: 100%;
    padding: 100px 0px;
    background-color: var(--backCol);
}
.aboutMe .main img{
    width: 40%;
    transform: rotateY(180deg);
}
.aboutMeText{
    width: 500px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.aboutMeText h2{
    color: var(--secCol);
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aboutMeText h5{
    color: var(--secCol);
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.aboutMeText p{
    color: var(--secCol);
    letter-spacing: 0.5px;
    line-height: 28px;
    font-size: 1rem;
    margin-bottom: 40px;
}
button{
    background-color: var(--primCol);
    color: var(--secCol);
    text-decoration: none;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
}
button:hover{
    background-color: transparent;
    border: 2px solid var(--primCol);
    cursor: pointer;
}
/* 
Responsiveness for mobile view */

@media only screen and (max-width: 990px){
   
}
